# Python
venv/
backend/venv/
__pycache__/
*.pyc

# Node / React
node_modules/
frontend/node_modules/
dist/
build/

# Env files
.env


# Ignore uploads and output inside backend
backend/uploads/
backend/output/


# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
__pycache__/
